.activePlace, .weatherDisplay{
  background-color: #d99292;
}

.row > *{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.weatherDisplay{
  border-radius: 10px;
  padding-left: 10px;
  height: 100%;
}